<div class="row" >
    <div class="col-lg-4 mb-4 grid-margin" *ngFor="let subject of subjects">
        <div class="card h-100 bg-info" id={{subject.id}}>
        	<div class="bd-placeholder-img card-img-top">
        		<img src={{subject.image}} alt={{subject.title}}>
        	</div>
            <h4 class="card-header"> {{subject.title}} </h4>
            <div class="card-body">
                <p class="card-text"> {{subject.overview}} </p>
            </div>
            <div class="card-footer">
                <Button class="btn btn-danger"><a href={{subject.page}}>Learn More</a></Button>
            </div>
        </div>
    </div>
</div>  