<nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-danger" id="dropdownBasic1" ngbDropdownToggle> More Langauges</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem><a href="https://www.w3schools.com/python/">Python</a></button>
                            <button ngbDropdownItem><a href="https://www.w3schools.com/java/">Java</a></button>
                            <button ngbDropdownItem><a href="https://www.w3schools.com/cpp/">C++</a></button>
                        </div>
                    </div>
                </li>
                <li class="nav-item navbar-login">
                    <button class="btn btn-danger" (click)="logIn()">{{logInMessage}}</button>
                </li>
            </ul>
        </div>
    </nav>