.body{
	background-image: url('../../../assets/gifs/under_maintenance.gif');
	font-size: 100px;
	background-repeat: no-repeat;
	background-size: 500px 500px;
	background-attachment: fixed;
    background-position: right; 
    color: #5679EC;
}