#mainPic {
    width: 100%;
    height: 300px;
}

h1{
	text-align: center;
	font-family: Brush Script MT, cursive;
}

#container{
  position: relative;
  text-align: center;
  color: white
}

.textOverImage{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);  
}