/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body{
   margin-right: 25%;
   margin-left: 25%;
   background-color: #D7D7D7;
   color: #333
}
